.container-fluid{
   background-image: linear-gradient(red,green);
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
body{
    margin: 0;
    padding: 0;
}
.row_bg{
    b
}